<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esta es es login ingresa pls!!!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia perspiciatis non iure, consequatur earum expedita odio sint qui sequi ipsam dolor hic eius labore rerum, quo sunt beatae officiis minima.</p>
    <img src="/thor.png" width="300" height="300" />
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias odio amet, exercitationem, voluptatibus corporis doloribus nesciunt voluptates ullam libero distinctio reiciendis? Officiis animi unde sapiente culpa hic eos veritatis deleniti.</span>
</body>
</html>